# Python executables
*.pyc
__pycache__
secrets.json
backup/*
env/
modules/test/

# Mac folders
.DS_Store

# VScode properties
.vscode

# Miscellaneous
*.log
*.log.*
._*
docs/_*
docs/changelog.rst
rankcards_update.json
*-cache.json
*.tar
modules/**/data/*.pkl
modules/**/data/base_websites.csv

# private assets
assets/card-models/*.png
assets/cards/
!assets/cards/.gitkeep
assets/images/*

# SonarQube
.scannerwork/