discord.py>=1.7
aiohttp
mysql-connector-python
git+https://github.com/ZRunner/fr-mc-python-lib
git+https://github.com/ZRunner/python-i18n/
emoji
imageio
geocoder
tzwhere
python-twitter>=3.5
isbnlib
pytz
psutil>=5.8
speedtest-cli
feedparser>=6.0