discord.py @ git+https://github.com/Rapptz/discord.py.git
aiohttp
mysql-connector-python
frmc-lib @ git+https://github.com/ZRunner/fr-mc-python-lib.git@v1.0.6
python-i18n @ git+https://github.com/ZRunner/python-i18n/
emoji
imageio
geocoder
timezonefinder
python-twitter>=3.5
isbnlib
pytz
psutil>=5.8
speedtest-cli
feedparser>=6.0
google-api-python-client
babel