discord.py~=2.3.0
aiohttp
mysql-connector-python>=8.0
frmc-lib @ git+https://github.com/ZRunner/fr-mc-python-lib.git@v1.0.6
python-i18n @ git+https://github.com/ZRunner/python-i18n/
emoji>=2.0
imageio
geocoder
timezonefinder
python-twitter>=3.5
isbnlib
pytz
psutil>=5.8
speedtest-cli>=2.1.3
feedparser>=6.0
google-api-python-client
Babel>=2.9
cachingutils>=1.0
nltk>=3.7
autopep8
flatten-json
python-dateutil
LRFutils==0.1.2
GitPython
Pillow~=9.4.0
beautifulsoup4~=4.12.0

# Antiscam training
pandas
scikit-learn
