-i https://pypi.org/simple
pip>=19.2
sphinxcontrib-asyncio
sphinx_autodoc_napoleon_typehints
requests==2.22
mysql-connector>=2.2.9
discord.py>=1.2
psutil>=5.6.3
geocoder>=1.38.1
pytz>=2019.2
sphinxext-opengraph>=0.6